.settings-container {
  margin: 20px;

  .second-col {
    text-align: center;

    .ant-btn {
      margin: auto;
      height: 46px;
      border-radius: 5px;
      font-size: 20px;
      padding: 0 60px;
    }
  }
}
