@import "react-alice-carousel/lib/scss/alice-carousel.scss";
@import "../utils/colors.scss";

.landing-container {

  .carousel-container {

  }

  .carousel-item {
    min-height: 85vh;
    color: #fff;
    line-height: 160px;
    text-align: 'center';
    background-color: $primary-color;

    .title-container {
      background-color: $primary-color;
      padding: 50px 0 50px 34px;
  
      p {
        font-size: 58px;
        text-align: center;
        line-height: 70px;
        margin-bottom: 0;
      }

      .btn-container {
        text-align: center;
        line-height: 125px;

        .carousel-main-btn {
          padding: 20px 72px;
          font-size: 23px;
          line-height: 0;
          margin: auto;
          border-radius: 5px;
          box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
        }
      }
    }
  }

  .us-container {
    margin: 50px 0;
    .us-description-col {
      padding: 80px 40px 80px 80px;
      
      .us-title {
        font-size: 58px;
        font-weight: bold;
  
        .company-name {
          color: $primary-color;
        }
      }
  
      .us-description {
        margin-top: 20px;
        font-size: 16px;
        padding-left: 10px;
      }
    }
  }

  .soat-container {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 7px 13px #D7D6E7;
    border-radius: 13px;
    margin: 0 20px;
    padding: 10px;


    .button-col {
      text-align: center;

      .btn-submit {
        width: 254px;
        height: 40px;
        background: #F67411 0% 0% no-repeat padding-box;
        box-shadow: 0px 7px 13px #D7D6E7;
        border: 0;
        letter-spacing: 0.42px;
        color: #FFFFFF;
        font-weight: 600;
      }
    }
  }
}
