@import "../utils/colors.scss";

$color-white: #ffffff;
$color-black: #252a32;
$color-light: #f1f5f8;
$color-red: #d32f2f;
$color-blue: #148cb8;
$primary-color: #F67411;

$box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);

.navbar {
  background-color: $white;
  padding: 0 142px 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

	img {
		width: 60%;
	}
}

@mixin largescreen {
	@media only screen and(min-width: 768px) {
		@content;
	}
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
	list-style-type: none;
	text-decoration: none;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

a,
button {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	cursor: pointer;
	border: none;
	outline: none;
	background: none;
	text-decoration: none;
}

h1 {
  margin-bottom: 0;
}

// Elements
.container {
	max-width: 80rem;
	width: 100%;
	height: auto;
	padding: 0 2rem;
	margin: 0 auto;
}

.brand {
	font-family: inherit;
	font-size: 16px;
	font-weight: 700;
	line-height: inherit;
	color: $color-blue;
	text-transform: uppercase;
	text-rendering: optimizeLegibility;
}

// Navbar
.navbar {
	width: 100%;
	height: auto;
	// padding: 12px 20px;
	color: $color-black;
	background: $color-white;
	box-shadow: $box-shadow;
  

	// Media Query for Desktop
	@include largescreen {
		padding: 20px 60px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin: 0 auto;
		height: 83px;
	}

	.navbrand {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 6px;

		.Brand {
			overflow: hidden;
			width: 80px;
			height: 45px;
			@include largescreen {
				width: auto;
				height: auto;
			}
		}

		.burger {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			border: none;
			outline: none;
			background: none;
			transition: all 0.35s ease;

      .social-responsive {
        line-height: inherit;
        transition: all 0.35s ease;

        .social-item-responsive {
          color: $color-black;
          .fab {
            font-size: 25px;
            margin-bottom: 7px;
            margin-right: 15px;
          }

          &:hover {
            color: $color-blue
          }
        }
      }

			&-close {
				display: none;
			}

			&.active {

				.burger-open {
					display: none;
				}
				.burger-close {
					display: flex;
				}
			}

			// Media Query for Desktop
			@include largescreen {
				display: none;
			}
		}

		.Brand a img {
			width: 80px;
			@include largescreen {
				height: 83px;
				width: auto;
			}
		}
	}

	.menu {
		width: 100%;
		height: 0;
		margin-bottom: 0;
		overflow: hidden;
		transition: all 0.5s ease;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-ms-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		@media (max-width: 767px) {
			position: absolute;
			background: #fff;
			z-index: 4;
			text-align: right;
			box-shadow: $box-shadow;
		}

		&-item {
			margin: 0 0 20px;
			@media (max-width: 767px) {
				padding: 0 30px 20px 0;
				border-bottom: 1px solid gray;
				&:last-child{
					margin: 0;
					padding: 0 30px 0 0;
					border-bottom: 0;
				}
			}
		}

		&-link {
			font-family: inherit;
			font-size: 14px;
			line-height: inherit;
			color: #4A4F5D;
			text-rendering: optimizeLegibility;
			transition: all 0.35s ease;

			&:hover {
				color: $primary-color;
			}
		}

		&.active {
			width: 100%;
			height: auto;
			margin: 0;
			padding: 20px 12px;
			text-align: right;
			position: absolute;
			background: #fff;
			z-index: 4;
		}

		// Media Query for Desktop
		@include largescreen {
			display: flex;
			flex-direction: row;
			justify-content: end;
			align-items: center;
			height: auto;
			width: auto;

			&-item {
				padding: 0 0 0 40px;
				margin: 0;
				&:first-child { padding: 0; }
			}
		}
	}

	.social {
		display: none;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		&-item {
			font-size: 1.65rem;
			line-height: inherit;
			margin: 0 0.5rem;
			color: $color-black;
			transition: all 0.35s ease;

			&:hover {
				color: $color-blue;
			}
		}

		// Media Query for Desktop
		@include largescreen {
			display: flex;
		}
  }
  
  .menu-open {
    width: 24px;
  }
}
