// Imports

@import "../../../../resources/styles/variables";
@import "../../../../resources/styles/colors";
@import "../../../../resources/styles/mixins";

// =============================================================================
// SIDER
// =============================================================================

.ant-layout-sider {
  background-color: $primary-grey-light;
  position: fixed;
  height: 100vh;

  &.ant-layout-sider-zero-width {
    .logout,
    .config {
      display: none;
    }
  }

  .menu-header {
    height: 73px;
    border-right: solid 1px $primary-grey-light;
    border-bottom: 1px solid #dcdcdc;
    justify-content: space-between;
    background-color: $white;
    padding: 25px 16px 25px;
    align-items: center;
    margin-top: 58px;
    @include flexbox;

    h2 {
      color: $primary-blue;
      line-height: 1.1;
    }

    .anticon-menu {
      display: none;
    }
  }

  .ant-menu {
    background-color: $primary-grey-light;
    padding: 31px 25px 0;

    .ant-menu-item {
      border-bottom: 1px solid $light-grey;
      padding: 0 !important;
      align-items: center;
      color: $light-grey;
      @include flexbox;
      height: 65px;
      margin: 0;

      i {
        margin-right: 10px;
        color: $primary-blue;
        font-size: 20px;
      }

      &:hover,
      &.ant-menu-item-selected {
        background-color: transparent;
        color: #000;
      }

      &.ant-menu-item-selected {
        border-bottom: 5px solid $primary-blue;
        font-weight: bold;
      }

      &.logout {
        bottom: 0;
      }

      &.config {
        bottom: 59px;
      }

      &.logout,
      &.config {
        padding: 0 25px !important;
        border-bottom: none;
        position: absolute;
        min-width: 100%;
      }

      span.menu-title {
        align-items: center;
        display: flex;
        width: 100%;
      }
    }
  }
}

// Collapsed
.ant-menu-inline-collapsed {
  width: 100%;

  span.menu-title {
    justify-content: center;
    text-align: center;
  }

  .menu-text {
    display: none;
  }
}

.ant-layout-sider-collapsed {
  .menu-header {
    justify-content: center;

    .anticon-menu {
      display: block;
    }

    h2,
    .anticon-close {
      display: none;
    }
  }

  .ant-menu-item {
    i {
      margin: 0 !important;
    }
  }
}
