@import "../../utils/colors.scss";

.confirmacion {
  background-color: $white;
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 4px 4px 0 $transparent-black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.siendoSeguroVersionVertical1 {
  margin-bottom: 22px;
}
.elPagoDeTuSoatHaSidoExitoso {
  color: $black-2;
  text-align: center;
  margin-bottom: 22px;
  @include h6;
}
.laAseguradoraEnviaraATuCorreoElect {
  max-width: 300px;
  color: $dim-gray;
  text-align: center;
  margin-bottom: 22px;
  @include body-small-default;
}
.recuerdaRevisarTuCarpetaDeSpamON {
  width: 300px;
  color: $dim-gray;
  text-align: center;
  @include body-extra-small-default;
}
