.logo-header {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}

.header {

  .horizontal-menu {
    background-color: #BF56BB;

    .ant-menu-item {
      color: #fff;

      &:hover {
        color: #f49a91;
        border-bottom: 2px solid #f49a91;
      }

      &.ant-menu-item-selected {
        color: #f49a91;
        border-bottom: 2px solid #f49a91; 
      }
    }
  }
}