// Imports
@import "../../../resources/styles/mixins";
@import "../../../resources/styles/colors";

// =============================================================================
// HEADER
// =============================================================================

.header {
  background-color: $primary-blue;
  @include flexbox;
  height: 58px;

  img {
    margin: 0 auto;
    width: 90px;
  }
}

// Logged
.logged {
  .header {
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
  }
}
