@import "../../utils/colors.scss";

.main-quote-container {
  padding-bottom: 140px;
}
.img-auto {
  width: 110px;
  height: 110px;
}

.descrip-container {
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 7px 13px #D7D6E7;

  .descrip-title {
    width: 100%;
  }

  .descrip-auto-container {
    margin-top: 10px;

    .title-info {
      font-size: 13px;
      margin-bottom: 0;
    }

    .result-info {
      font-weight: bold;
    }
  }
}

.select-col {
  margin-top: 10px;

  .ant-select {
    box-shadow: 0px 7px 13px #D7D6E7;  
  }
}

.filter-col {
  text-align: end;

  .filter-container {
    display: inline-block;
    background-color: #F67411;
    border-radius: 4px;
    padding: 5px 20px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 7px 13px #D7D6E7;

    span {
      font-size: 20px;
    }

    p {
      font-size: 12px;
      margin-bottom: 0;
    }
  }
  
}

.company-items-container {
  background-color: #ffffff;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 7px 13px #D7D6E7;


  .company-descrip {
    padding: 10px;

    .img-company {

    }
  
    .title-type-plan {
      color: black;
      margin-bottom: 2px;
      font-weight: 500;
    }

    .methods-price {
      margin-bottom: 4px;
      
      .price {
        font-size: 20px;
        font-weight: bold;
      }

      .pay-price {
        font-size: 15px;
        font-weight: 500;
      }
    }
  }

  .company-item-descrip {
    background-color: #ffffff;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;

    .anticon {
      margin-right: 3px;

      &.anticon-check {
        color: #00aa17;
      }

      &.anticon-close {
        color: #c90000;
      }
    }

    .btn-compare {
      box-shadow: 0px 7px 13px #D7D6E7;
      border-radius: 13px;
    }

    .add-to-cart-col {
      text-align: center;
      
      .btn-add-to-cart {
        background: $color-dark-blue 0% 0% no-repeat padding-box;
        box-shadow: 0px 7px 13px #D7D6E7;
        border-radius: 13px;
      }
    }    
  }

  .more-info-container {
    text-align: center;
    margin-bottom: 10px;

    .more-info {
      display: initial;
      color: #3464ff;
      
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

.compare-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #3b3b3b;
  padding: 10px;

  .compare-item-container {
    background-color: #ffffff;
    border-radius: 5px;
    text-align: center;
    padding-bottom: 10px;
    margin: 0 10px 0 10px;

    .close-container {
      text-align: end;
      padding-right: 6px;
      
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    .img-compare-container {
      text-align: center;

      .img-compare {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin: auto;
      }
    }

    p {
      margin-bottom: 0;
    }
  }

  &.show {
    display: block;
  }

  &.hide {
    display: none;
  }

  .btn-final-col {
    text-align: center;

    .btn-final-compare {
      margin: 10px 0;
    }
  } 
}

.spin-container {
  text-align: center;
  width: 100%;
}

.more-info-modal-container {
  p {
    .anticon {
      margin-right: 3px;

      &.anticon-check {
        color: #00aa17;
      }

      &.anticon-close {
        color: #c90000;
      }
    }
  }
}
