.main-quote-container {
  padding-bottom: 140px;
}

.img-auto {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.descrip-container {
  background-color: #f3f3f3;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;

  .descrip-title {
    width: 100%;
  }

  .descrip-auto-container {
    margin-top: 10px;

    .title-info {
      font-size: 13px;
      margin-bottom: 0;
    }

    .result-info {
      font-weight: bold;
    }
  }
}

.select-col {
  margin-top: 10px;
}

.filter-col {
  text-align: end;

  .filter-container {
    display: inline-block;
    background-color: #f3f3f3;
    padding: 5px 20px;
    text-align: center;
    
    span {
      font-size: 20px;
    }

    p {
      font-size: 12px;
      margin-bottom: 0;
    }
  }
  
}

.company-items-container {
  background-color: #f3f3f3;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;


  .company-descrip {
    padding: 10px;

    .img-company {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
  
    .title-type-plan {
      color: #3464ff;
      margin-bottom: 2px;
    }

    .methods-price {
      margin-bottom: 4px;
      
      .price {
        font-size: 19px;
        font-weight: bold;
      }

      .pay-price {
        font-size: 16px;
        font-weight: bold;
      }
    }
  }

  .company-item-descrip {
    background-color: #ffffff;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;

    .anticon {
      margin-right: 3px;

      &.anticon-check {
        color: #00aa17;
      }

      &.anticon-close {
        color: #c90000;
      }
    }
  }

  .more-info-container {
    text-align: center;
    margin-bottom: 10px;

    .more-info {
      display: initial;
      color: #3464ff;
      
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

.compare-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #3b3b3b;
  padding: 10px;

  .compare-item-container {
    background-color: #ffffff;
    border-radius: 5px;
    text-align: center;
    padding-bottom: 10px;

    .close-container {
      text-align: end;
      padding-right: 6px;
      
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    .img-compare {
      width: 80px;
      height: 80px;
      border-radius: 50%;
    }

    p {
      margin-bottom: 0;
    }
  }

  &.show {
    display: block;
  }

  &.hide {
    display: none;
  }

  .btn-final-col {
    text-align: center;

    .btn-final-compare {
      margin: 10px 0;
    }
  } 
}
