@import "../../components/utils/colors.scss";

.container-payments {
  border-radius: 16px;
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;

  &.second-view {
    background-color: $verde-siendo-seguro;
    margin: 0 70px;
  }
}

.content-payments {
  border-radius: 16px;
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: transparent;
}
.tituloClaro {
  height: 19px;
  width: 236px;
  color: $dim-gray;
  display: flex;
  @include open-sans-12-semi-bold;

  &.second-view {
    margin: 0 20px;
    color: $white;
  }
}
.logos {
  display: flex;
  align-items: center;
  justify-content: center;
}
.masterCard1 {
  &:not(:last-of-type) {
    margin-right: 8px;
  }
}