.col-steps-title {
    padding-left: 120px;
    margin-top: 20px;

    .ant-steps {
        width: 80%;
    }
}

.card-item {
    margin: 0 10px;
}

.ant-card{
    text-align: center;
}

.first-form {
    .ant-row {
        p {
            text-align: right;
            padding-right: 15px;
        }
    }
}