@import "../utils/colors.scss";

.footer {
  background-color: $black;
  padding: 44px 37px 36.89px 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contacto {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 237px;
}
.id {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.laferSolucionesMasivasDeSeguros {
  color: $white;
  margin-bottom: 8px;
  @include open-sans-12-regular;
}
.nit9001768726 {
  color: $silver;
  @include open-sans-12-regular;
}
.caliColombia {
  color: $white;
  @include open-sans-12-regular;
  &:not(:last-of-type) {
    margin-bottom: 8px;
  }
}
.emailSoportesiendoseguroCom {
  color: $white;
  @include open-sans-12-regular;
}
.divider {
  margin-bottom: 32px;
}
.conoceNuestraPoliticaDeTratamientoD {
  height: 34px;
  width: 236px;
  display: flex;
  margin-bottom: 32px;
  color: $light-grey;
  @include open-sans-12-semi-bold;

  a {
    color: $light-grey;

    &:hover {
      text-decoration: underline;
    }
  }
}
.conoceNuestraPoliticaDeTratamientoDEmphasis0 {
  color: $silver-2;
  @include open-sans-12-regular;
}
.payments {
  margin-bottom: 32px;
  width: 268px;
}
.siguenosEn {
  color: $silver-2;
  margin-bottom: 24px;
  @include open-sans-12-regular;
}

.social-img {
  width: 20px;
}