@import "../../../resources/styles/ant.scss";
@import '~antd/dist/antd.css';

.main-layout {
  background-color: #BF56BB;
  .ant-layout-header {
    background-color: #BF56BB;
  }
  .main-header-menu {
    background-image: url('../../../assets/background-header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .ant-layout-sider {
      background: rgba(191, 86, 187, .5);

      .vertical-header-menu {
        background-color: transparent;
        border-right: 0;
        color: #fff;
    
        .ant-menu-item {
          color: #fff;
    
          &:hover {
            color: #f49a91;
            border-right: 2px solid #f49a91;
          }

          &:after {
            border-right: 2px solid #f49a91;
          }

          &.ant-menu-item-selected {
            border-right: 2px solid #f49a91; 
            color: #f49a91;
          }
        }
      }
    }

    .soat-car-container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 50px;

      .soat-car {
        width: 80%;
      }
    }

    .soat-car-text-container {
      display: flex;
      justify-content: center;
      align-items: center;

      .soat-car-text-col {
        text-align: center;

        .soat-car-text {
          font-size: 30px;
        }

        .soat-car-url {
          background-color: #BF56BB;
          padding: 10px;
          font-size: 20px;
          width: 50%;
          margin: auto;
          border-radius: 10px;
          font-weight: bold;
          color: #fff;
        }
      }
    }
  }

  .weare-container {
    margin-top: 60px;
    text-align: center;

    .weare-col {
      h2 {
        margin-top: 20px;
        font-size: 30px;
      }

      p {
        font-size: 15px;
        margin: 0 80px;
      }
    }

    .sections-container {
      margin: 0 20px;
      margin-top: 50px;

      .section-container {
        margin-right: 20px;
        border-right: 1px solid #000;

        &.last-section-container {
          border-right: 0;
        }

        img {
          width: 20%;
        }
      }
    }
  }

  .steps-container {
    background-color: white;
    margin-top: 60px;
    text-align: center;

    .steps-col {
      h2 {
        margin-top: 20px;
        font-size: 30px;
      }

      p {
        font-size: 15px;
        margin: 0 80px;
      }

      img {
        width: 60%;
      }
      
      .ant-tabs-tabpane {
        padding: 40px 0;
      }

      .ant-tabs {
        .ant-tabs-tab-btn {
          color: #BF56BB;
          font-size: 20px;
        }
      }

      .ant-row {
        justify-content: center;
        align-items: center;
      }
    }
  }

  .chat-popup-container {
    position: fixed;
    top: 50vh;
    right: 0;
    z-index: 10;
    background-color: #f49a91;
    padding: 10px 20px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
  }
}
