$primary-color: #F67411;
$second-color: #0099B2;
$color-white: #ffffff;
$color-black: #101010;
$color-light: #f1f5f8;
$color-blue: #148cb8;
$color-gray: #BFBFBF;
$color-second-gray: #707070;
$color-dark-blue: #283843;
